.about-content1
{   
    width:50%;
    margin: auto;
    margin-top: 150px;
    font-size: 30px;
    color:gray;
    text-align: center;
    margin-bottom: 100px;
}
.about-content2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.about-content2 h3
{
    color: rgba(0, 157, 255, 0.705);
    margin-bottom: 30px;
    font-weight:bolder;
}
.lists
{
    display:flex;
    justify-content:center;
    gap:100px;
    align-items: center;
    font-size: 20px;
    font-style: none;
    color:gray
}
.lists ol
{
    list-style-type: none;
    text-align: center;
}
.lists li
{
    margin-top: 10px;
}
.about-content3
{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap:10px;
    margin-bottom: 100px;
    color: #333333; /* Updated to Text Color */
}
.igm
{
    height: 60vh;
}
.ig1{
    width: 60%;
}
#igg1
{
    /* object-fit:cover; */
    width:100%;
}
