.content
{
    /* height: 95vh; */
    width: 100%;
    background-color: #f0f0f0; /* Updated to Primary Background Color */
    padding-top: 10px;
    color: #333333; /* Updated to Text Color */
    padding-bottom: 0;
    font-size: large;
}
.home-content1
{   
    width:50%;
    margin: auto;
    margin-top: 150px;
    font-size: 30px;
    color: #333333; /* Updated to Text Color */;
    text-align: center;
    padding-bottom: 100px;
}
.card
{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 15%;
    width: 80%;
    display: flex;
    align-items: center;
    gap: 10px;
    }
.vid
{
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
}
.card video
{  
 height:120%;  
 width:100%;
 position:relative;
 border-radius: 5px;
}
.text h1
{
     color: #1E3A8A; /* Accent Color */
    font-style: italic;
}
.hidden
{
    opacity:0;
    filter:blur(5px);
    transform: translateX(-100%);
}
.show
{
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);
    transition: all 2s;
}
.celeb-sec{
    margin-top: 100px;
    display:flex;
    color: #333333; /* Updated to Text Color */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
}
.home-content3
    {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        gap:10px;
        margin-bottom: 100px;
    }