@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*||RESET*/
/* *,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea{
    font: inherit;
} */
/*||GENERAL STYLES*/
/* html{
    scroll-behavior: smooth;
    font-size: clamp(1rem, 2.2vh, 1.5rem);
    font-family: "Nunito",sans-serif;
}

body{
    background-color: #fff;
    color: #000;
    min-height: 200vh;
    width: 100%; 
    margin: 0 auto;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    box-shadow: 0 0 10px #333;
} */

/* .wrapper h1{
    font-family: "Fugaz One", cursive;
    letter-spacing: 0.1em;
} */
/*||Login(CSS entirely done here no variable is used, please put img inside url in .login)*/
.loginpage{
    /* font-size: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;  */
    font-family: "Poppins", sans-serif;
    color: #fff;
    width: 100%;
    height: 100vh;
    background: url('assets/bg.jpg');
    background-size: cover;
    
    /* margin-bottom: auto; */
}

.login{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* min-height: 100vh; */
    /* background: slateblue; */
    /* background-size: 100%; */
    /* background-position-y: -1150px; */
} 

.wrapper{
    margin-top: 150px;
    position: relative;
    width: 420px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden; 
    transition: height .2s ease;
}

.wrapper.actively {
    margin-top: 100px;
    height: 660px;
    width: 590px;
}

.wrapper .form-box{
    padding: 40px;
}

.wrapper .form-box.login{
    width: 100%;
    transition: translate .18s ease;
    translate: 0px;
}

.wrapper.actively .form-box.login{
    transition: none;
    translate: -450px;
}

.wrapper .form-box.register .input-box input{
    width: 90%;
}

.wrapper .form-box.register{
    width: 90%;
    position: absolute;
    transition: none;
    translate: 400px;
}

.wrapper.actively .form-box.register{
    transition: translate .18s ease;
    translate: -15px;
}

form h1{
    font-size: 36px;
    text-align: center;
}

form .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    background: transparent;
    border: none;
    outline: none;
    /* width: 100%; */
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px; 
}

.input-box input::placeholder{
    color: #fff;    
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%; 
    transform: 0 -50%;
    font-size: 16px;
}

form .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 0 0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 4px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

form button{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

form .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 30px 0 15px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

/* .wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;    
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%; 
    transform: translateY(-50%);
    font-size: 20px;
} 

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
} */